<!DOCTYPE html>
<html>
  <head>
    <title>Address Book</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href="~/css/styles.css"/>
  </head>
  <body>
    <div class="container">
        <h4> Name: @Model.GetName()</h4>
        <h4> Number: @Model.GetNumber()</h4>
        <h4>Address: @Model.GetAddress()</h4>
    <a href='/contacts/new'> Add another contact</a>
    <a href='/contacts'>View all contacts</a>
    </div>
  </body>
</html>
